// Debug console related styles. NOTE that these are global, and not really part
// of a theme (the console is a sigleton). You can customize, but it will apply
// globally, e.g in a portal environment.
@mixin debug-globals {

	.v-debug-console {
		background: #fff;
		opacity: .9;
		border: 1px solid #000;
		font-family: sans-serif;
	}
	.v-debug-console-caption {
		background: #000;
		border-bottom: 1px solid grey;
		color: white;
		font-weight: bold;
	}
	.v-debug-console-content {
		font-size: x-small;
		overflow: auto;
		white-space: pre;
	}
	.v-debug-console-content input {
		font-size: xx-small;
	}
	/* Debug style */
	.v-app .invalidlayout,
	.v-app .invalidlayout * {
		background: #f99 !important;
	}
	
	/* NEW debug window */
	$vaadin-debug-window-mainbg: #fff;
	$vaadin-debug-window-darkborder: #666;
	$vaadin-debug-window-lightborder: #999;
	$vaadin-debug-window-maincolor: #666;
	$vaadin-debug-window-activecolor: #000;
	
	$pathPrefix: null;
  
  @if $relativePaths == false {
    $pathPrefix: "../debug/";
  }

	@font-face {
		font-family: 'vdebugfont';
		src:url('#{$pathPrefix}fonts/font.eot');
		src:url('#{$pathPrefix}fonts/font.eot?#iefix') format('embedded-opentype'),
			url('#{$pathPrefix}fonts/font.woff') format('woff'),
			url('#{$pathPrefix}fonts/font.ttf') format('truetype'),
			url('#{$pathPrefix}fonts/font.svg#fontawesome') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	.v-debugwindow [data-icon]:before, 
	.v-debugwindow-menu [data-icon]:before {
		font-family: 'vdebugfont';
		content: attr(data-icon);
		speak: none;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		font-style: normal;
		vertical-align: text-bottom;
	}

	.v-debugwindow {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		opacity: 0.8;
		-ms-filter: alpha(opacity=80);
		color: $vaadin-debug-window-maincolor;
		font-size: 13px;
	}
	.v-debugwindow:hover {
		opacity: 1;
		-ms-filter: none;
	}
	.v-debugwindow * {
		font-size: inherit !important;
	}
	
	.v-debugwindow-size0, 
	.v-debugwindow-menu .v-debugwindow-button-size0 {
		font-size: 10px;
	}
	.v-debugwindow-size1, 
	.v-debugwindow-menu .v-debugwindow-button-size1 {
		font-size: 13px;
	}
	.v-debugwindow-size2, 
	.v-debugwindow-menu .v-debugwindow-button-size2 {
		font-size: 16px;
	}
	
	.v-debugwindow-head {
		text-align: right;
		cursor: move;
		bakcground-color: transparent;
	}
	
	.v-debugwindow-tabs {
		display: inline-block;
		background-color: $vaadin-debug-window-mainbg;
	}
	
	.v-debugwindow-tab, 
	.v-debugwindow-controls > * {
		width: 2em;
		border: none;
		margin: 0;
		line-height: 1.5em;
		background-color: $vaadin-debug-window-mainbg;
		color: $vaadin-debug-window-maincolor;
	}
	.v-debugwindow-tab {
		position: relative;
		top: 1px;
		border-width: 1px 0 1px 1px;
		border-style: solid;
		border-color: $vaadin-debug-window-darkborder;
		border-radius: 2px 2px 0 0;
	}
	.v-debugwindow-tab-selected {
		color: $vaadin-debug-window-maincolor;
		background-color: $vaadin-debug-window-mainbg;
		border-bottom: 1px solid #fff;	
	}
	
	.v-debugwindow-controls {
		position: relative;
		top: 1px;
		display: inline-block; 
		background-color: $vaadin-debug-window-mainbg;
		border: 1px solid $vaadin-debug-window-darkborder;
		border-radius: 2px 2px 0 0;
	}

	.v-debugwindow-section-head {
		text-align: left;
		background-color: $vaadin-debug-window-mainbg;
		border: 1px solid $vaadin-debug-window-darkborder;
		border-bottom: 1px solid $vaadin-debug-window-lightborder;
		box-shadow: 0px 0px 7px 0 rgba(55,55,55,0.6);
		min-height: 1.5em;
	}
	
	.v-debugwindow-button {
		border: none;
		background-color: transparent;
		color: $vaadin-debug-window-maincolor;
	}
	.v-debugwindow-button:hover {
		color: $vaadin-debug-window-activecolor;
		text-decoration: underline;
	}
	.v-debugwindow-button-active {
		color: $vaadin-debug-window-maincolor;
		box-shadow: 1px 1px 3px 0 inset;
	}
	
	.v-debugwindow-content {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		box-shadow: 0px 0px 7px 0 rgba(55,55,55,0.6);
		background-color: $vaadin-debug-window-mainbg;
		border: 1px solid $vaadin-debug-window-darkborder;
		border-top: none;
		font-family: monospace;
	}
	
	.v-debugwindow-menu {
		background-color: $vaadin-debug-window-mainbg;
		padding: 4px;
		border: 1px solid $vaadin-debug-window-lightborder;
		border-top: none;
		border-radius: 0 0 5px 5px;
		box-shadow: 0px 0px 7px 0 rgba(55,55,55,0.6);
	}
	.v-debugwindow-menu-content {
		min-width: 100px;
	}
	.v-debugwindow-menu-content .v-debugwindow-button {
		line-height: 22px;
	}
	.v-debugwindow-menu-content > div > .v-debugwindow-button {
		width: 33%;
	}
	
	
	/* LOG */
	.v-debugwindow-reset {
		color: #fff;
		background-color: #4C92ED;
		padding: 4px;
	}
	
	.v-debugwindow-row {
		display: table-row;
	}
	.v-debugwindow-row:nth-child(odd) {
		background-color: rgba(0, 61, 255, 0.11);
	}
	.v-debugwindow-row.ERROR {
		color: #550000;
		background-color: #FFC5C5;
	}
	.v-debugwindow-row.WARNING {
		background-color: #FFFF99;
	}
	
	.v-debugwindow-row > span {
		display: table-cell;
		padding: 4px;
	}
	
	.v-debugwindow-time {		
		text-align: right;
		color: #999;
	}
	.v-debugwindow-message {
		white-space: nowrap;
		width: 100%
	}
	.v-debugwindow-message:hover {
		white-space: normal;
		word-wrap: break-word;
	}
	.v-debugwindow-message em {
	 	background-color: #C4E6F8;
	 }

	/* HIERARCHY */	
	.v-debugwindow-row > span.caption {
		color: #999;
		text-align: right;
		white-space: nowrap;
	}
	.v-debugwindow-row > span.value {
		width: 100%;
	}

}