$v-font-family: "Source Sans Pro", sans-serif;
$v-font-size: 16px;
$v-unit-size: 33px;
$v-border-radius: 2px;
$v-button-border-radius: 15px;
$v-button-padding-width: $v-unit-size/2;

$v-app-background-color: #666;
$v-selection-color: #07a1c0;

$v-gradient-depth: 25%;
$v-emboss-depth: 20%;