$v-font-family: "Source Sans Pro", sans-serif;
$v-font-size: 14px;
$v-unit-size: 30px;

$v-app-background-color: #f7f7f7;
$v-widget-color: #ededed;
$v-selection-color: #149ff0;

$v-emboss-depth: 10%;
$v-gradient-depth: 15%;

$v-enable-hover-styles: false;